<%= render partial: "userform", locals: { user_local: @user } %>

<h2>User</h2>
<ul class="user">
  <% @users.each do |user| %>
    <li><%= link_to cookbook.title, "/users/#{user.id}" %></li>
  <% end %>
</ul>