<% @games.each  do |game| %>
      <div class="wrapper">
      <h1>WELCOME TO PANCAKES OR PINGPONG WITH PRINCE</h1>
         <nav>
        <a href="/">===> PLAY! <===</a>
        <!-- <a href="/photos/new">new photo</a> -->
      </nav>
	<img src="<%= game %>" />
  <hr>
<% end %>


