
body {
	background-image:url("prince.gif");
	background-repeat: repeat;
}

.wrapper {
  width: 640px;
  margin: 0 auto;
}

h1 {
  font-family: Cursive;
  font-size: 80px;
  margin-top: -50px;
  color: white;
}

nav {
  margin-top: -100px;
/*  text-align: center;*/
  padding: 20px;
  font-family: Cursive;
  color: white;
}

.button {
  background-color: white;
  height: 90px;
  width: 350px;
  color: purple;
  margin:  0 auto;
  font-size: 2em;
  text-align: center;
  line-height: 90px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px gray;
}

.button a {
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
}